<nav class="navbar-top d-flex justify-content-end align-items-center px-5">
  
  <div class="user-info d-flex align-items-center gap-4">
    <div class="role-badge">
      <span class="text-white fw-bold fs-5">Rol: </span>
      <span class="text-uppercase fw-bold fs-5" style="color: var(--primary-color);">
        {{ formatearRol(rolActual) }}
      </span>
    </div>

    <a routerLink="/perfil" class="profile-icon" title="Mi perfil" style="cursor: pointer;">
      <i class="fa-solid fa-circle-user text-white"></i>
    </a>
  </div>

</nav>
