
   .bg-dark-custom { 
    background-color: var(--background-color); 
}
.border-bottom-custom { 
    border-bottom: 0.2rem solid var(--surface-color); 
}
.logo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--secondary-color);
}
.b-header {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--text-light);
    transition: color 0.3s;
}
.b-header:hover { 
    color: var(--secondary-color); 
}
.b-perfil {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 0.8rem;
    filter: brightness(0) invert(1);
    transition: 0.3s;
}
.b-perfil:hover {
    transform: scale(1.1);
    border: 2px solid var(--primary-color);
    filter: invert(92%) sepia(10%) saturate(836%) hue-rotate(215deg) brightness(101%) contrast(97%);
}

/* =========================================
   2. FOOTER (PIE DE PÁGINA)
   ========================================= */
.footer-cine {
    background-color: var(--surface-color);
    color: var(--text-light);
    margin-top: 5rem;
    padding: 2rem 0;
}
.footer-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
.footer-links a {
    color: #b0b0b0;
    text-decoration: none;
    transition: 0.3s;
    font-size: 0.9rem;
}
.footer-links a:hover { 
    color: var(--primary-color); 
    padding-left: 5px; 
}
.social-icon {
    width: 40px;
    height: 40px;
    background-color: var(--background-color);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.3s;
}
.social-icon:hover { 
    background-color: var(--primary-color); 
}

/* =========================================
   3. PANEL DE LOGIN (OFFCANVAS)
   ========================================= */
.login-panel {
    background-color: #242424; 
    border-left: 1px solid var(--surface-color);
    width: 400px; 
}
.custom-input-group {
    border: 1px solid #555;
    border-radius: 8px;
    overflow: hidden;
    background-color: #242424;
}
.custom-input-group .form-control {
    background-color: transparent;
    border: none;
    color: white;
    padding: 14px 15px;
    font-size: 0.9rem;
}
.custom-input-group .form-control::placeholder {
    color: #888;
}
.custom-input-group .input-group-text {
    background-color: transparent;
    border: none;
    color: white;
}
.btn-login {
    background-color: #9b59b6; 
    padding: 12px;
    border-radius: 8px;
    border: none;
    transition: 0.3s;
}
.btn-login:hover {
    background-color: #8e44ad;
}
.login-links {
    font-size: 0.85rem;
}