<aside class="sidebar d-flex flex-column p-3 text-white">
  <div class="logo-container mb-4">
    <img src="/Imagenes/Logo.png" alt="CINEMAX" class="img-fluid"> 
  </div>

  <ul class="nav flex-column mb-auto">

  <li class="nav-item mb-2">
    <a class="nav-link text-white d-flex align-items-center rounded hover-effect p-3" routerLink="/admin/dashboard" routerLinkActive="bg-primary fw-bold shadow-sm">
      <i class="fa-solid fa-chart-line fs-5 me-3 text-info"></i> Dashboard
    </a>
  </li>

  <li class="nav-item mb-2" *ngIf="rolUsuario === 'GERENTE_GENERAL' || rolUsuario === 'ROLE_GERENTE_GENERAL'">
    <a class="nav-link text-white d-flex align-items-center rounded hover-effect p-3" routerLink="/admin/sedes" routerLinkActive="bg-primary fw-bold shadow-sm">
      <i class="fa-solid fa-building fs-5 me-3 text-info"></i> Sedes
    </a>
  </li>

  <li class="nav-item mb-2" *ngIf="rolUsuario === 'GERENTE_GENERAL' || rolUsuario === 'ROLE_GERENTE_GENERAL' || rolUsuario === 'GERENTE_OPERACIONES' || rolUsuario === 'ROLE_GERENTE_OPERACIONES'">
    <a class="nav-link text-white d-flex align-items-center rounded hover-effect p-3" routerLink="/admin/salas" routerLinkActive="bg-primary fw-bold shadow-sm">
      <i class="fa-solid fa-couch fs-5 me-3 text-info"></i> Salas y Aforo
    </a>
  </li>

  <li class="nav-item mb-2" *ngIf="rolUsuario === 'ADMIN' || rolUsuario === 'ROLE_ADMIN'">
    <a class="nav-link text-white d-flex align-items-center rounded hover-effect p-3" routerLink="/admin/usuarios" routerLinkActive="bg-primary fw-bold shadow-sm">
      <i class="fa-solid fa-users fs-5 me-3 text-info"></i> Usuarios
    </a>
  </li>

</ul>

  <hr>
  <div class="logout-section">
    <a href="#" class="nav-link text-white" (click)="cerrarSesion(); $event.preventDefault()">
      <i class="fa-solid fa-right-from-bracket me-2"></i> Cerrar Sesión
    </a>
  </div>
</aside>