# ==========================================
# CREDENCIALES LOCALES (SQL Server Developer)
# ==========================================
# El archivo usuarios-service.yml armará la URL automáticamente usando estos datos:
SQLSERVER_USER=sa
SQLSERVER_PASSWORD=Cine123456

# ==========================================
# CREDENCIALES DE AZURE (Pausadas)
# ==========================================
# SQLSERVER_USER=admincinemax
# SQLSERVER_PASSWORD=cinemaxabc123!

# ==========================================
# VARIABLES GLOBALES
# ==========================================
# Renombrado a JWT_SECRET para que coincida con application.yml y auth-service
JWT_SECRET=M2U0ZTM0YjItMmYzZC00MWVkLWI4MzYtODhlYTQkOWY4Njg2Cg==

CLOUDINARY_CLOUD_NAME=dbbjufugc
CLOUDINARY_API_KEY=352637739534584
CLOUDINARY_API_SECRET=tcmDSa_FHR_7d52fQQENHfQ7DKw

MAIL_USERNAME=joaquinchuquecastilla@gmail.com
MAIL_PASSWORD=fvrj vsmt eack ywhe

# Renombrado a FRONTEND_URL para que coincida con application.yml
FRONTEND_URL=http://localhost:4200